<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leafeon Dashboard</title>
    <link rel="icon" href="favicon_char.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

</head>

<body>
    <h1>Leafeon Dashboard</h1>
    <table id="table-header" border="1" bordercolor="#84C520" width ="500" height="300" align = "center">
        <tr bgcolor="84C520" align ="center">
            <p><td colspan = "3" span style="color:white">Current Room Environment</td></p>
        </tr>
    <table id="sensor-header" border="1" bordercolor="84C520" width ="500" height="300" align = "center">
		<tr>
            <td>TIME</td>
            <td>Temperature(C)</td>
            <td>Humidity(%)</td>
            <td>Pressure(Pa)</td>
            <td>Altitude(m)</td>
            <td>eCO2(ppm)</td>
            <td>eTVOC(ppb)</td>
            <td>pm1.0(ug/m3)</td>
            <td>pm2.5(ug/m3)</td>
            <td>pm10.0(ug/m3)</td>
		</tr>
	</table>
    <table id="sensor-table" border="1" bordercolor="84C520" width ="500" height="300" align = "center">
		<tr>
			<th>time</th>
			<th>tempdata</th>
			<th>humidata</th>
            <th>presdata</th>
            <th>altdata</th>
            <th>eco2data</th>
            <th>tvocdata</th>
            <th>pm01data</th>
            <th>pm25data</th>
            <th>pm10data</th>
		</tr>
	</table>
    <script src="../src/dashboard.js"></script>

</body>
</html>