<!DOCTYPE html>
<html lang="en">
<head>
    <title>Leafeon Dashboard</title>
    <link rel="icon" href="../img/favicon_char.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/dashboard.css" type="text/css" media="all" />
</head>

<body>
  <!-- <div id="title">Leafeon Dashboard</div> -->
  <h1>Leafeon Dashboard</h1>
<section id = "dashboard">
  <table id="table-header" border="1" bordercolor="#84C520">
      <tr bgcolor="84C520">
        <p><td colspan = "3" span style="color:white">Current Room Environment</td></p>
      </tr>
  <table id="sensor-header" border="1" bordercolor="84C520">
		<tr>
      <th>TIME</th>
      <th>Temperature(C)</th>
      <th>Humidity(%)</th>
      <th>Pressure(Pa)</th>
      <th>Altitude(m)</th>
      <th>eCO2(ppm)</th>
      <th>eTVOC(ppb)</th>
      <th>pm1.0(ug/m3)</th>
      <th>pm2.5(ug/m3)</th>
      <th>pm10.0(ug/m3)</th>
		</tr>
	</table>
  
  <table id="sensor-table" border="1" bordercolor="84C520">
		<tr>
			<th>time</th>
			<th>tempdata</th>
			<th>humidata</th>
      <th>presdata</th>
      <th>altdata</th>
      <th>eco2data</th>
      <th>tvocdata</th>
      <th>pm01data</th>
      <th>pm25data</th>
      <th>pm10data</th>
		</tr>
	</table>
  <br>
  <div class="gauge-section">
    <h3>Temperature</h3>
    <div id="temp" class="gauge"></div>
    
    <h3>Humidity</h3>
    <div class="pie-chart pie-chart-humi">
      <span class="center">humi</span>
    </div>
  </div>

  <!-- input -->
  <div id="input-temp-section">
    <input type="text" id="input-data">
    <button onclick="click_test()">set</button>
  </div>
</section>
  <section id="temp-display">
    <span id="current-temp">76</span>  
  </section>

  <script src="../src/gauge.js"></script>
  <script src="../src/dashboard.js"></script>
</body>
</html>