<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<title>Hello Leafeon</title>
        <link rel="icon" href="imgs/favicon_char.ico">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			h1 {
				font-family: Arial, sans-serif;
				color: #2f2d2d;
				text-align: default;
			}
			p {
				font-family: Arial, sans-serif;
				font-size: 14px;
				text-align: default;
				color: #2f2d2d;
			}
		</style>
        
	</head>
	<body>
		<h1>InitialLeafeon</h1>
		<p>this is a dummy page wait till actual service is on..</p>
	</body>
</html>